@import './main.less';

.booking {
    &__main-content {
        display        : flex;
        justify-content: center;

        &>div {
            flex       : 0 0 50%;
            max-width  : 50%;
            margin     : 0 18px;
            display    : flex;
            align-items: center;
            margin-top : 70px;
        }

        .booking__form-wrap {
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            max-width      : 525px;
            margin-left    : auto;

            form {
                display        : flex;
                flex-wrap      : wrap;
                max-width      : 525px;
                justify-content: space-between;

                >* {
                    flex     : 0 0 258px;
                    max-width: 258px;
                }

                input,
                select {
                    padding         : 15px;
                    height          : 56px;
                    border          : none;
                    border-radius   : 5px;
                    background-color: @inp_bg_color;
                    margin          : 5px 0;
                    font-family     : 'Open Sans', sans-serif;
                    font-size       : 13px;

                    &::placeholder {
                        color: rgba(51, 51, 51, .5);
                    }
                }

                select {
                    color              : rgba(51, 51, 51, .5);
                    appearance         : none;
                    cursor             : pointer;
                    position           : relative;
                    background-image   : url('/src/img/arrow-down.png');
                    background-size    : 16px;
                    background-repeat  : no-repeat;
                    background-position: 90% 50%;

                    &.active {
                        background-image: url('/src/img/arrow-up.png');
                    }

                    * {
                        font-family: "Open Sans", sans-serif;
                    }

                }

                input[type='submit'] {
                    flex            : 0 0 100%;
                    max-width       : 100%;
                    font-weight     : 700;
                    font-family     : "Open Sans Bold";
                    cursor          : pointer;
                    background-color: @primary_color;
                    transition      : .3s;
                    color           : #fff;

                    &:hover {
                        background-color: #000;
                    }

                }
            }
        }

        .booking__img-wrap {
            position: relative;
            display : flex;

            img {
                width     : 443px;
                box-shadow: 0px 0px 46.5928px rgba(0, 0, 0, 0.5);
            }
        }

    }

    .booking__text-info p,
    .booking__text-info b {
        text-align : center;
        font-size  : 11px;
        font-family: "Open Sans", sans-serif;
        color      : rgba(51, 51, 51, .5);
        margin     : 40px 0;
    }

    @media @screen_1300 {
        .booking__main-content {
            margin: 0 30px;
        }

        .booking__main-content .booking__form-wrap form {
            max-width: 100%;
        }

        .booking__main-content .booking__form-wrap form>* {
            flex     : 0 0 240px;
            max-width: 240px;
        }

        .booking__main-content .booking__img-wrap img {
            width: 400px;
        }

        .booking__main-content .booking__img-wrap .square {
            border-width: 15px;
        }
    }

    @media @screen_1024 {
        .booking__main-content {
            flex-wrap: wrap;
        }

        .booking__main-content .booking__form-wrap {
            max-width: 450px;
        }

        .booking__main-content>div {
            flex           : 0 0 90%;
            max-width      : 90%;
            justify-content: center;
        }

        .booking__main-content .booking__form-wrap {
            margin-left: 0;
        }
    }

    @media @screen_768 {
        .booking__main-content .booking__form-wrap form>* {
            height   : 50px;
            max-width: 49%;
            flex     : 0 0 49%;
        }
    }

    @media @screen_540 {
        .booking__main-content>div {
            flex     : 0 0 100%;
            max-width: 100%;
            margin   : 30px 15px 0;
        }

        .booking__main-content .booking__form-wrap form>* {
            flex     : 0 0 240px;
            max-width: 240px;
        }

        .booking__main-content .booking__form-wrap form input[type=submit] {
            flex     : 0 0 240px;
            max-width: 240px;
        }

        .booking__main-content .booking__img-wrap img {
            width: 250px;
        }

        .booking__main-content .booking__img-wrap .square {
            width       : 120px;
            height      : 120px;
            border-width: 10px;
        }

        .booking__text-info b,
        .booking__text-info p {
            margin: 30px 10px;
        }

        .booking__main-content .booking__form-wrap form {
            justify-content: center;
        }
    }
}