@width-rect : 444px;
@height-rect: 74px;

.events {
    display            : flex;
    flex-direction     : column;
    background-image   : url('/ShpetVadym_Hunger/src/img/specialties-bg.jpg');
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    padding            : 45px 75px;
    position           : relative;

    &__content {
        display        : flex;
        justify-content: center;

        >div {
            flex     : 0 0 50%;
            max-width: 50%;
            position : relative;
            max-width: 442px;
            margin   : 40px;

            img {
                width: 100%;
            }

            .square {
                width : 232px;
                height: 232px;
            }

            .rect {
                width           : @width-rect;
                height          : @height-rect;
                background-color: #000;
                position        : absolute;
                color           : #fff;
                display         : flex;
                align-items     : center;
                padding-left    : 20px;
                font-size       : 22px;
                text-transform  : uppercase;
            }
        }
    }

    &__weedings {
        .square {
            left: -27%;
        }

        .rect {
            right    : calc(0% - (@width-rect / 2) + (@height-rect / 2) - 1px);
            top      : calc(50% - (@height-rect / 2) - 2px);
            transform: rotate(90deg);
        }
    }

    &__corporative {
        .rect {
            left     : calc(0% - (@width-rect / 2) + (@height-rect / 2) - 1px);
            bottom   : calc(50% - (@height-rect / 2) + 2px);
            transform: rotate(-90deg);
        }
    }

    >p {
        text-align : center;
        color      : #fff;
        font-family: "Open Sans", sans-serif;
        font-size  : 11px;
        font-weight: 300;

        >span {
            font-family: "Open Sans Bold", sans-serif;
            font-weight: 700;
        }
    }
}