@primary_color: #E8C300;

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Banny Round', sans-serif;
}

a {
    color          : #fff;
    text-decoration: none;
    text-transform : uppercase;
}

span.divider {
    display         : block;
    height          : 6px;
    width           : 56px;
    border-radius   : 46px;
    background-color: @primary_color;
    margin          : 20px 0 30px;
}