.specialities {
    background-image   : url('src/imgspecialties-bg.jpg');
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    padding            : 40px 0;
    position           : relative;

    .slider {
        max-width : 1180px;
        overflow-x: hidden;
        margin    : 0 auto;

        &__content {
            display   : flex;
            flex-wrap : nowrap;
            transition: all ease 1s;
        }

        &__item {
            display  : flex;
            flex     : 0 0 100%;
            max-width: 100%;

            >* {
                margin-top   : 40px;
                margin-bottom: 40px;
            }
        }

        &__img {
            position       : relative;
            flex           : 0 0 50%;
            display        : flex;
            justify-content: flex-end;

            .square {
                left: 0;
            }

            img {
                width       : 442px;
                margin-right: 40px;
            }
        }

        &__text {
            color          : rgba(255, 255, 255, 0.9);
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            text-align     : center;
            padding        : 20px;

            h2 {
                color: #fff;
            }
        }

        &__main-text {
            font-weight: 700;
            font-size  : 18px;
            line-height: 26px;
            font-family: "Open Sans", sans-serif;
        }

        &__sub-text {
            font-family: "Open Sans", sans-serif;
            font-size  : 14px;
            line-height: 22px;
            margin-top : 20px;
        }
    }
}